@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Pacifico&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

@font-face {
    font-family: Nightmare;
    src: url(/assets/nemo-nightmares.regular.ttf);
}
@font-face {
    font-family: BacktoBlack;
    src: url(/assets/BacktoBlackDemo.ttf);
}
@font-face {
    font-family: OldEnglish;
    src: url(/assets/traditio-ah.regular.ttf);
}
@font-face {
    font-family: chancery;
    src: url(/assets/BLKCHCRY.ttf);
}


html , body{
    height: 100%;
    width: 100%;
    background-color: black;

}

.main{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass{
    position: relative;
    width: 80%;
    height: 80%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0.5vw 0.5vw 1vw rgba(48, 48, 48, 0.169);
}

.herowrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tealblob{
    position: absolute;
    height:400px;
    width: 400px;
    border-radius: 50%;
    left: 300px;
    top: 50px;
    z-index: 2;
    background-color: #2BBFED;
    animation: tealanime 10s cubic-bezier(0.455, 0.03, 0.515, 0.955)  infinite alternate-reverse ;
}

@keyframes tealanime {
    from{
        transform: translate(0%,0%) skew(30deg,0deg) rotate(360deg);
            transform-origin: top left;
    }
    to{
        transform: translate(0%,0%)  ;
    }  
}

.greenblob{
    position: absolute;
    height:400px;
    width: 400px;
    border-radius: 50%;
    left: 10px;
    bottom: -40px;
    z-index: 2;
    background-color: #8CED2B;
    opacity: 0.8;
    animation: greenanime 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s infinite alternate-reverse ;
}

@keyframes greenanime {
    from{
        transform: translate(0%,0%) skew(30deg,0deg) rotate(360deg);
            transform-origin: bottom left;
    }
    to{
        transform: translate(0%,0%)  ;
    }   
}

.pinkblob{
    position: absolute;
    height:500px;
    width: 500px;
    border-radius: 50%;
    right: -50px;
    bottom: -70px;
    z-index: 1;
    animation: pinkanime 15s cubic-bezier(0.455, 0.03, 0.515, 0.955)   infinite alternate-reverse ;
    animation-delay: 3s;
    background-color: #C04242;
}

@keyframes pinkanime {
    from{
        transform: translate(-10%,0%) skew(30deg) rotate(360deg);
            transform-origin: bottom right;
    }
    to{
        transform: translate(0%,0%)  ;
    } 
}

.glassblur{
    background: white;
    position: absolute;
    height: 100%;
    width: 100%;
    background:  rgba(255,255,255,0.1) ;
    background: linear-gradient(to top right,  rgba(255,255,255,0.1) ,  rgba(255,255,255,0.03));
    border: 0.5px solid  rgba(255,255,255,0.17);
    border-right: 0.5px solid  rgba(255,255,255,0.05);
    border-bottom: 0.5px solid  rgba(255,255,255,0.05);
    border-radius: 20px;
    z-index: 99;
    overflow: hidden;
    backdrop-filter: blur(130px) ;
}

.noise{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
    opacity: 0.05;
    background: url(https://grainy-gradients.vercel.app/noise.svg);
}
.hero{  
    padding: 7.5vw;
 
    position: relative;
    font-size: 3vw;
    z-index: 999;
}

.hero h1{
    font-family: "Inter", sans-serif;
    text-align: justify;
    font-size: 4.2vmax;
    font-weight: 400;

}





.barrier{
position: relative;

/* text-decoration: line-through;
text-decoration-thickness: 4.5vw; */
}


.inner {
    position: relative; 
    display: inline-block;
  }
.inner::before {
    content: ''; 
    position: absolute; 
    top:0.6vmax; 
    left: 0; 
    width: 0%;
    height: 4.5vmax; 
    background-color: rgb(255, 255, 255); 
    z-index: 1; 
    animation: applyStrikethrough 3s cubic-bezier(0.77, 0, 0.175, 1) 1s forwards; 
  }

  /* Keyframes for the animation */
@keyframes applyStrikethrough {
    from { width: 0%; } 
    to { width: 100%; } 
  }
/* 
.main2{
    position: relative;
    height: fit-content;
    width: 100%;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;;
    scale: 0.8;
}

.cave{
    width: 100%;

    animation: caveAnime 20s linear infinite ;
   
}

@keyframes caveAnime {
    0%{
        transform: rotate(0) skew(-10deg,10deg);
    }
    50%{
        transform: rotate(360deg) skew(10deg,-30deg)
    }
    100%{
        transform: rotate(720deg) skew(-10deg,10deg);
    }
}

@keyframes changeFonts {
    0% { font-family: "Caveat", cursive; }
    15% { font-family: "Shadows Into Light", cursive; }
    30% { font-family: "Caveat", cursive; }
    45% { font-family: "Pacifico", cursive; }
    60% { font-family: "Dancing Script", cursive; }
    75% { font-family: BacktoBlack }
    90% { font-family: "Dancing Script", cursive; }
    100% { font-family: "Edu NSW ACT Foundation", cursive; }
  }


.main2 h1:hover {
    animation: changeFonts 1.5s linear infinite;
  }

.hero2{
    position: relative;
}

.herotext2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.hero2 h1{
   
    font-size: 10vmax;
    font-family: "Edu NSW ACT Foundation";
}
     */

.seed{
    font-family: BacktoBlack;
    font-size: 4vmax;
}

.your{
font-family: "Edu NSW ACT Foundation", cursive; 
font-size: 4.5vmax;
    
}


.idea{
    font-family: OldEnglish;
    font-size: 4.5vmax;
}




/* Main 2 The page part 2 */

.main2{
    position: relative;
    height: fit-content;
    width: 100%;
    background-color: black;
    padding:  6vw;
    display: grid;
    gap: 3vw;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows:20vw 20vw 20vw 20vw;





}


#glass{
    position: relative;
    background-image: radial-gradient(  rgba(255,255,255,0.01) ,  rgba(255,255,255,0.04));
    border: 0.5px solid  rgba(255,255,255,0.17);
    border-right: 0.5px solid  rgba(255,255,255,0.05);
    border-bottom: 0.5px solid  rgba(255,255,255,0.05);
    box-shadow: 0.5vw 0.5vw 1vw rgba(120, 120, 120, 0.169);
    border-radius: 40px;
    backdrop-filter: blur(130px) ;
    overflow: hidden;
    z-index: 99;

}


.ver-glass{


    grid-row: 1 / 3;
    grid-column: 1 / 2;




}
.graph-glass{

grid-column: 2 / 3;




}

.goodnotes{

    width: 100%;

}

.graphs{
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.shit-glass{
    grid-row: 1 / 2;
    grid-column: 3 / 5;

   
}

.clock{
    grid-row: 2 / 3;
    grid-column: 4/5;
}

.vividImage{
    grid-row: 2/3;
    grid-column: 2/4;
}


@keyframes luplup {
    100%{
        opacity: 0.1;
        transform: translate(-10%,-10%);
        rotate: 0deg;
    }
    50%{
        opacity: 0.2;
        transform: translate(0%,0%);
        rotate: 180deg;
        

    }
    0%{
        opacity: 0.1;
        transform: translate(-10%,-10%);
        rotate: 360deg;
    }
}






.purblob2{
    position: absolute;
    height:400px;
    width: 400px;
    border-radius: 50%;
    right: 200px;
    top: 400px;


    z-index: 2;
    background-color: #4c4cff;
    opacity: 0.2;
    filter: blur(100px);
    animation: luplup 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

.tealblob2{
    position: absolute;
    height:400px;
    width: 400px;
    border-radius: 50%;
    left: 200px;
    top: 150px;


    z-index: 2;
    background-color: #2BBFED;
    opacity: 0.2;
    filter: blur(100px);
    animation: luplup 7s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;

}